* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

span {
  font-weight: bolder;
  color: #0060fb;
}
.cover {
  height: 100vh;
}
.intro {
  display: flex;
}
.first-half {
  background-color: #011b44;
  width: 45vw;
  height: 88vh;

  display: flex;
  flex-direction: column;
}
.first-half img {
  width: 80px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.first-half h2 {
  color: white;
  font-size: 20px;
}
.header-image {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  margin-bottom: 10px;
}
.header-image img {
  margin: 0;
}
.header-image h2 {
  margin-left: 10px;
}
.second-half {
  background-image: linear-gradient(to top, #0060fb 0%, #2363cb 100%);
  width: 55vw;
  height: 88vh;
}
.cover-image {
  background-position: center;
  background-size: cover;
  background-image: url(/Images/cover.jpg);
  width: 840px;
  height: 88vh;
}
.cover-image img {
  width: 100%;
}
.second-intro h1 {
  font-size: 50px;
  color: white;
}
.second-intro {
  padding: 0px 40px;
}
.second-intro p {
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}
.second-intro button a {
  color: #011b44;
}
.second-intro button {
  background-color: white;

  border: none;
  outline: none;
  padding: 13px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  margin-bottom: 90px;
}
.second-intro button:hover {
  letter-spacing: 0.5px;
}
.social {
  display: flex;
  align-items: center;
  padding: 0px 40px;
}
.social i {
  color: white;
  font-size: 35px;
  padding-right: 15px;
  padding-bottom: 30px;
  transition: 0.3s ease;
  transform: translateY(0px);
}
.social i:hover {
  transition: 0.3s ease;
  transform: translateY(-5px);
}
.social a {
  margin-right: 7px;
}
.creds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0px 15px;
}
.creds ul {
  padding-bottom: 40px;
}
.creds ul li {
  color: white;
}
.nav-bar {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.nav-bar ul li {
  margin: 18px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 200;
  transition: 0.2s ease;
}
.nav-bar ul li a:hover {
  color: #011b44;
  font-weight: bolder;
}
.nav-bar i {
  margin-right: 7px;
  font-size: 15px;
}
.nav-bar ul li a.active {
  color: #011b44; /* Change the color for the active link */
  font-weight: 700; /* Add bold font-weight to the active link */
}
.guide {
  padding: 500px 60px;
  display: flex;
  align-items: center;
}
.guide h2 {
  color: white;
  font-size: 20px;
}
.guide i {
  font-size: 60px;
  color: white;
  margin-right: 20px;
  transition: 0.3s ease;
  transform: translateX(0);
}
.guide i:hover {
  color: #011b44;
  transition: 0.3s ease;
  transform: translateX(-5px);
}

.bio {
  height: fit-content;
  display: flex;
  justify-content: center;
}
.bio-text {
  text-align: left;
  color: #011b44;

  width: 900px;
}
.bio-text h3 {
  font-size: 27px;
  padding-bottom: 30px;
}
.bio-text p {
  font-weight: 300;
  padding-bottom: 30px;
}
.speech {
  color: #011b44;
  display: flex;
  gap: 50px;
  justify-content: center;

  padding-bottom: 70px;
}

.speech-image img {
  border-radius: 10px;
  width: 300px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.speech-other {
  display: block;
  width: 500px;
}
.speech-other button {
  background-color: #011b44;
  padding: 15px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-bottom: 90px;
  transition: 0.3s ease;
}
.speech-other button:hover {
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s ease;
}
.speech-other button a {
  color: white;
}
.speech-other i {
  margin-left: 15px;
  margin-right: 15px;
}
.events-header {
  color: #011b44;
  text-align: center;
}
.event-list {
  padding: 50px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}
.event-list button a {
  color: white;
}
.event1 {
  background-position: center;
  background-size: cover;
  background-image: url(/Images/event1.jpg);
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.event2 {
  background-position: center;
  background-size: cover;
  background-image: url(/Images/women.png);
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.event3 {
  background-position: center;
  background-size: cover;
  background-image: url(/Images/fef.jpg);
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.event1:hover button,
.event2:hover button,
.event3:hover button {
  transform: translateY(-5px);
  transition: 0.3s ease;
}
.text button {
  background-color: #011b44;
  padding: 15px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 30px;
  transform: translateY(0);
  transition: 0.3s ease;
}
.text button:hover {
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}
.text {
  padding: 20px 20px;
}
.text h3 {
  color: white;
}
.text-b {
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.text-s {
  color: white;
  font-weight: 200;
  margin-bottom: 80px;
}
.text-ss {
  color: white;
  font-weight: 200;
  margin-bottom: 80px;
}
.text-sss {
  color: white;
  font-weight: 200;
  margin-bottom: 80px;
}

.text-p {
  font-weight: 00;
}
.publications {
  color: #011b44;
  padding: 40px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.publications hr {
  width: 150px;
  height: 8px;
  border: none;
  outline: none;
  background-color: #011b44;
  margin-bottom: 10px;
}
.pub-header {
  height: fit-content;
}
.pub-header a {
  color: #011b44;
}

.pub-header-end .pub-header p a {
  color: #011b44;
  font-weight: 700;
  transition: 0.3s ease;
}
.pub-header p {
  font-weight: 700;
}
.pub-header p a {
  transition: 0.2s ease;
}
.pub-header p a:hover {
  letter-spacing: 0.5px;
  color: #0060fb;
  transition: 0.2s ease;
}
.pub-header i {
  margin-left: 7px;
}
.pub-link a {
  margin-top: 5px;

  font-weight: 700;
  transition: 0.2s ease;
}
.pub-link a:hover {
  letter-spacing: 0.2px;
  transition: 0.2s ease;
  color: #011b44;
}
.pub-link {
  color: #011b44;
}
.pub-link a {
  color: #011b44;
}
.pub-link a:hover {
  color: #0060fb;
}
.pub-link :hover {
  color: #0060fb;
}

.footer {
  
  height: 150px;
  background-color: #011b44;
}
.pub-footer {
  height: 150px;
  background-color: #011b44;
  align-items: center;
}
.footer-content {
  display: flex;
  padding: 40px 160px;
  align-items: center;
  gap: 40px;
}
.pub-footer-content {
  padding: 30px 160px;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pub-contact {
  width: 700px;
  height: fit-content;
}
.pub-contact h2 {
  color: white;
  margin-bottom: 5px;
}
.pub-contact a {
  color: white;
  margin-right: 20px;
  transition: 0.2s ease;
}
.pub-contact a:hover {
  letter-spacing: 0.2px;
  font-weight: 600;
  transition: 0.2s ease;
}
.pub-contact i {
  margin-right: 7px;
}
.contact p {
  color: white;
}
.contact h3 {
  font-size: 25px;
  color: white;
}
.resume-but {
  background-color: #011b44;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  outline: none;
  border-radius: 10px;
  margin-right: 15px;
}
.contact-but {
  background-color: white;
  color: #011b44;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 10px;
}
.contact-but,
.resume-but {
  letter-spacing: 1px;
  transition: 0.2s ease;
}
.contact-but a {
  color: #011b44;
}
.resume-but a {
  color: white;
  transform: translateY(0);
  transition: 0.2s ease;
}
.resume-but:hover,
.contact-but:hover {
  transform: translateY(-5px);
  transition: 0.2s ease;
}

.contact-nav {
  justify-content: center;
  display: flex;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #011b44;
}
.contact-nav img {
  width: 70px;
}
.contact-nav ul {
  padding: 10px;
  align-items: center;
  display: flex;
  list-style: none;
}
.contact-nav ul li {
  align-content: center;
  display: block;

  margin: 15px 80px;
}
.contact-nav ul li a {
  color: white;
}
.contact-nav ul li a.active {
  color: white; /* Change the color for the active link */
  font-weight: bold; /* Add bold font-weight to the active link */
  transition: 0.3s ease;
}
.contact-nav ul li a:hover {
  color: white;
  font-weight: bolder;
  transition: 0.3s ease;
}
.contact-nav ul li i {
  color: white;
  margin-right: 7px;
}
.contact-body {
  background-color: #011b44;
  text-align: center;

  height: 88vh;
}
.contact-image {
  width: 300px;
  margin-right: 60px;
}
.contact-image img {
  border-radius: 10px;
  width: 300px;
}
.contact-text {
  padding-top: 120px;
  color: white;
  text-align: center;

  justify-content: center;
}
.contact-text h2 {
  font-size: 40px;
}
.contact-icons {
  padding: 60px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
}
.icon {
  color: white;
  font-size: 30px;
}
.icon-text {
  color: white;
}
.icon-text a {
  color: white;
}
.icon-text h3 {
  font-size: 20px;
}
.icon-text p {
  font-weight: 600;
  padding-bottom: 10px;
}
.icon-text ul {
  padding: 15px 0px;
  list-style: none;
}
.icon-text ul li {
  padding-bottom: 10px;
  font-weight: 200;
}
.contact-end {
  background-color: red;
}
.award-image {
  display: flex;
  justify-content: center;
}
.award-image img {
  width: 1000px;
  border-radius: 10px;
}
.pubs {
  padding-top: 70px;
}
.pub1,
.pub2,
.pub3 {
  margin-bottom: 30px;
}
.top-pubs {
  padding-top: 30px;
}
.top-pub-start {
  padding: 50px 17% 0px;
  margin-bottom: 30px;
}
.top-pub-start h2 {
  font-size: 30px;
  color: #011b44;
}
.next-pub-start {
  padding: 20px 17% 0px;
}
.next-pub-start h2 {
  font-size: 30px;
  color: #011b44;
}
.pub-start {
  padding: 0px 17% 0px;
  margin-bottom: 30px;
}
.pub-start h2 {
  font-size: 30px;
  color: #011b44;
}
.fellowships {
  height: 7px;
  background-color: #011b44;
  border: none;
  outline: none;
  width: 587px;
}
.programs {
  height: 7px;
  background-color: #011b44;
  border: none;
  outline: none;
  width: 152px;
}
.workshops {
  height: 7px;
  background-color: #011b44;
  border: none;
  outline: none;
  width: 175px;
}
.grants {
  height: 7px;
  background-color: #011b44;
  border: none;
  outline: none;
  width: 105px;
}
.pub-line {
  height: 7px;
  background-color: #011b44;
  border: none;
  outline: none;
  width: 510px;
  color: #011b44;
}
.next-pub-line {
  height: 7px;
  background-color: #011b44;
  border: none;
  outline: none;
  width: 309px;
  color: #011b44;
}
.pubs-list {
  padding: 0px 17% 0px;
  display: flex;
  margin-bottom: 50px;
  color: #011b44;
}
.next-pubs-list {
  padding: 0px 17% 0px;
  display: block;
  margin-bottom: 30px;
  color: #011b44;
}
.end-pub-items {
  margin-bottom: 200px;
}

.pubs-list hr {
  height: 4px;
  background-color: #011b44;
  outline: none;
  border: none;
  width: 150px;
  margin-bottom: 10px;
}
.next-pubs-text {
  margin-right: 100px;

  color: #011b44;
}
.pubs-text {
  margin-right: 100px;

  color: #011b44;
}
.next-pubs-text h3 {
  font-size: 25px;
  width: 300px;
  color: #011b44;
}
.pubs-text h3 {
  font-size: 19px;
  width: 300px;
  color: #011b44;
}
.pubs-content {
  width: 800px;
  color: #011b44;
  display: block;
}
.last-pubs-content {
  width: 900px;
  color: #011b44;
  display: flex;
}
.last-pubs-content a {
  color: #011b44;
  margin-right: 25px;
  transition: 0.2s ease;
  width: 600px;
}
.last-pubs-content a:hover {
  color: #0060fb;
  letter-spacing: 0.2px;
  transition: 0.2s ease;
}
.pubs-content h3 {
  margin-bottom: 10px;
  color: #011b44;
}
.pubs-content p {
  font-weight: 300;
  color: #011b44;
}
.pubs-content a:hover {
  color: #0060fb;
  transition: 0.2s ease;
}

.read-more {
  margin-top: 10px;
  color: #011b44;
  font-weight: 700;
  transition: 0.2s ease;
}
.read-more:hover {
  letter-spacing: 1px;
  transition: 0.2s ease;
}
.events-text {
  padding: 0px 17% 0px;
  color: #011b44;
}
.top-events-text {
  margin-bottom: 20px;
  padding: 30px 17% 0px;
  color: #011b44;
}
.events-text-end {
  padding: 0px 17% 0px;
  color: #011b44;
}
.events-text h3 {
  margin-top: 30px;
  color: #011b44;
}
.events-text-end h3 {
  margin-top: 30px;
}
.event-points {
  padding: 0px 17% 0px;
}
.event-points ul li {
  margin-bottom: 10px;
  color: #011b44;
}
.event-points-end ul li {
  margin-bottom: 10px;
  color: #011b44;
}
.event-points-end {
  padding: 0px 17% 0px;
}
.end-view-more {
  padding: 0px 17% 0px;
  margin-bottom: 100px;
  font-weight: bolder;
  color: #011b44;
}
.view-more {
  padding: 0px 17% 0px;
  margin-bottom: 50px;
  font-weight: bolder;
  color: #011b44;
}
.view-more1 {
  padding: 0px 17% 0px;
  margin-bottom: 50px;
  font-weight: bolder;
  color: #011b44;
}
.view-more:hover {
  letter-spacing: 0.5px;
  transition: 0.2s ease;
}
.view-more1:hover {
  letter-spacing: 0.5px;
  transition: 0.2s ease;
}
.span {
  font-weight: bolder;
}
.topdiv {
  list-style: circle;
  padding: 0px 20px;
  margin-bottom: 50px;
}
#maindiv {
  width: 1000px;
  height: 200px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
#maindiv.cls {
  height: 1050px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}
#maindiv-workshop {
  width: 1000px;
  height: 180px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
#maindiv-workshop.cls1 {
  height: 1050px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}
#maindiv-grants {
  width: 1000px;
  height: 190px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
#maindiv-grants.cls2 {
  height: 2100px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}
#maindiv-research {
  width: 1000px;
  height: 305px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
#maindiv-research.cls3 {
  height: 1250px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}

.event-points-end ul li {
  margin-bottom: 10px;
}
.event-points p {
  font-weight: bolder;
}
.event-points p a:hover {
  letter-spacing: 0.5px;
  transition: 0.2s ease;
}

.event-points-end p a:hover {
  letter-spacing: 0.5px;
  transition: 0.2s ease;
}
.header-image i {
  display: none;
}


@media (max-width: 700px) {
  .cover {
    height: fit-content;
  }

  .first-half {
    width: 100%;
    height: 100%;
  }
  .second-half {
    display: none;
    width: 375px;
  }

  .header-image {
    align-items: center;
    width: 100vw;
  }
  .header-image img {
    width: 50px;
  }
  .intro {
    width: 100vw;
  }
  .header-image i {
    display: block;

    font-size: 22px;
    color: white;
  }
  .second-intro h1 {
    font-size: 55px;
  }
  .second-intro p {
    margin-bottom: 10px;
  }
  .second-intro button {
    margin-bottom: 60px;
  }
  .bio-text {
    text-align: center;
    padding: 70px 20px;
  }
  .bio-text h3 {
    font-size: 20px;
  }
  .speech {
    display: block;
    padding-bottom: 40px;
  }
  .speech-image {
    display: flex;

    width: 100%;
    justify-content: center;
  }

  .speech-other {
    text-align: center;
    padding: 40px 20px;
    width: 100%;
  }
  .speech-other button {
    display: none;
  }
  .events-header {
    padding: 10px 20px;
  }
  .event-list {
    justify-content: center;
    padding: 20px;
    width: fit-content;
  }
  .event1,
  .event2,
  .event3 {
    min-width: 300px;
    margin-bottom: 30px;
  }
  .text-s {
    margin-bottom: 90px;
  }
  .text-ss {
    margin-bottom: 80px;
  }
  .text-sss {
    margin-bottom: 80px;
  }

  .pub-header {
    margin-bottom: 30px;
  }
  .publications {
    padding: 0px 20px;
  }
  .pub-other {
    margin-bottom: 50px;
  }
  .footer-content {
    display: block;
    padding: 20px;
  }
  .contact {
    display: none;
  }
  .contact p {
    display: none;
  }
  .contact-buttons {
    display: flex;
  }
  .resume-but,
  .contact-but {
    padding: 10px 10px;
    font-size: 14px;
  }

  

  .award-image img {
    width: 100%;
  }
  .reach-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }


.pub-line {
  width: 100%;
}
.pubs-list {
  display: block;
  padding: 0;
}
.pub-body {
  padding: 0px 20px;
}
.pub-header{
  margin: 0;
}
.pubs-text {
  margin-bottom: 20px;
}
.pubs-content {
  width: 100%;
}
.last-pubs-content {
  display: block;
  width: 100%;
}
.last-pubs-content h3 {
  margin-bottom: 10px;
}

.top-pub-start {
  margin-top: 40px;
  padding: 0px 20px;
}
.top-pub-start hr {
  width: 100%;
}
.pubs {
  padding: 30px 20px;
}
.next-pub-start {
  padding: 0px 20px;
}
.next-pubs-list {
  padding: 0px 20px;
}
.end-pub-items {
  margin-bottom: 60px;
}

.footer{
  height: fit-content;
  align-content: center;
  justify-content: center;
  display: flex;
}
.footer-content{
  
  display: flex;
 
  
  
}
.contact-buttons{
  display: flex;
}
.contact-nav{
  display: none;

}

#maindiv {
  width: 100%;
  height: 280px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
#maindiv.cls {
  height: 2320px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}
.programs-header p{
  padding: 0px 20px;
}

#maindiv-workshop {
  width: 100%;
  height: 240px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
.workshops-header p{
  padding: 0px 20px;

}
#maindiv-workshop.cls1 {
  height: 2900px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}

#maindiv-grants {
  width: 100%;
  height: 470px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
.grants-header p{
  padding: 0px 20px;
}
#maindiv-grants.cls2 {
  height: 5650px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}
.end-view-more{
  margin-bottom: 60px;
}


#maindiv-research {
  width: 100%;
  height: 245px;
  overflow: hidden;
  list-style: circle;
  padding: 20px 20px;

  transition: 0.6s ease;
}
.research-header p{
  padding: 0px 20px;
}
#maindiv-research.cls3 {
  height: 2780px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.6s ease;
}

.top-events-text{
  padding: 30px 20px;
  margin: 0;
}
.event-points-end{
  padding: 0px 20px;
}
.pub-start{
  padding: 0px 20px;
}
.events-text{
  padding: 0px 20px;

}
.event-points{
  padding: 0px 20px;
  width: 100%;
}
.contact-text{
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px 20px;
}
.contact-body{
  height: fit-content;
}
.contact-icons{
  padding: 0px 20px;
}


}

@media (max-width: 400px) {
  .cover {
    height: fit-content;
  }
  .event1,
  .event2,
  .event3 {
    max-width: 350px; /* Adjust the font size as needed */
  }
  .text-s {
    margin-bottom: 90px;
  }
  .text-ss {
    margin-bottom: 40px;
  }
  .text-sss {
    margin-bottom: 30px;
  }
  .event-list {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    padding: 20px;
    width: 100%;
  }
}
