*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.cover{
    padding: 0px 60px;
    height: 100vh;
    
    
   
}
.intro{
    display: flex;
}
.first-half{
    background-image: linear-gradient(to top, #0060fb 0%, #2363cb 100%);
    width: 45vw;
    height: 100vh;
}
.first-half img{
    width: 80px;
    
}
.first-half h2{
    color: white;
    font-size: 20px;
}
.header-image{
    display: flex;
}
.second-half {
    background-color: blue;
    width: 55vw;
    height: 100vh;
}
.cover-image{
    width: 650px;

}
.cover-image img{
    width: 100%;
}
